PORT=8080
NODE_ENV=development

MONGO_URI=mongodb+srv://shubham:1234@cluster0.2ceki.mongodb.net/shark_db

JWT_SECRET=yubxetyugfbuqwetrunxygdw7e6rty23xuneruiwhnxruieyrr4878ur927rtxweiyrt
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=ds4t2aywj
CLOUDINARY_API_KEY=359681186934123
CLOUDINARY_API_SECRET=jueHXOFy8MXm3g9W8zsEDfWm6Pk

FRONTEND_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174